* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;

}

html{
    width: 400px;
    height: 500px;
}
body{
    width: 400px;
    height: 500px;
    margin: 20;
}

.chating_page{
    width: 400px;
    height: 500px;
    background: linear-gradient(135deg, #DBD2CF,#9DB6CF);
    border-radius: 20px;
}

.chat_bar{
    padding-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);    
}
    
.user_img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 10px;
    background-image: url(https://i.namu.wiki/i/geGngQMnvmK2g3wuKU4O1uNs8Ix1HXQULk9PrnT57lHOlU4AxL9qsNCYXOOY9DIqPWtXnphq8G6NzCcvzv-ppQ.webp);
    background-size: 50px 50px;
}

.user_name{
    padding-top: 12px;
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px;
}

.more_button{
    padding-top: 23px;
    margin-left: 150px;
}

.chat_bar_column{
    float: left;
    box-shadow: 5px 5px 1px #000000, 

}

.chat_form_bar{
    width: 380px;
    height: 46px;
    background-color: #f1f0f04d;
    border-radius: 40px;
    position: relative;
    left: 10px;
    top: 365px;
}

.textarea{
    height: 46px;
}

.textarea1{
    width: 320px;
    height: 46px;
    border-radius: 25px;
    resize: none;
    border: none;
    background-color: #ffffff00;
    font-size: 23px;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Nanum Gothic', sans-serif;

}

.sendbutton{
border: none;
width: 40px;
height: 40px;
border-radius: 20px;
color: white;
font-size: 20px;
background: linear-gradient(135deg, #DBD2CF,#9DB6CF);
position: relative;
bottom: 43px;
left: 337px;
font-weight: 900;
}

.sendbutton:active{
    background: linear-gradient(-185deg, #DBD2CF,#9DB6CF);
    color: #54616e;
}

.textarea1::-webkit-scrollbar {
    display: none;
  }